<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCwuLh-acrCJhbRoqnl0DFT6g-3Ko7oSJU</string>
	<key>GCM_SENDER_ID</key>
	<string>17012376065</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.diagnozApp</string>
	<key>PROJECT_ID</key>
	<string>diagnozapp-96805</string>
	<key>STORAGE_BUCKET</key>
	<string>diagnozapp-96805.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:17012376065:ios:9b413d068684ff6580f600</string>
</dict>
</plist>